label{
	font-size: 14px !important;
	font-weight: 300;
	margin-bottom: 3px;
}

input,
select{
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #00000030;
	width: 100%;
	font-weight: 300 !important;
	font-size: 14px !important;
	margin-bottom: 20px;
}

.module{
	height: auto !important;
	padding-bottom: 85px !important;
}

a{
	color: #333 !important;
	text-decoration: none !important;
}

#editor{
	font-family: Poppins !important;
	font-size: 14px !important;
}

button.topModule{
	background: #1D4F4A !important;
	border-color: #1D4F4A !important;
}

button.back{
	background: #e1e1e1 !important;
	border-color: #e1e1e1 !important;
	color: #333 !important;
}

button.back:hover{
	background: #cfcfcf !important;
	border-color: #cfcfcf !important;
}